@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

.container {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f0e5;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
    min-width: 480px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
}
